<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Students</title>
</head>
<body>
<h2>Students</h2>
<p><input type="text" ng-model='search_value' > Enter Search Text</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>Student ID</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Hrs. Attempted</th>
        <th>Hrs. Completed</th>
        <th>GPA Points</th>
        <th>Major</th>
        <th>Advisor ID</th>
        <th>Email</th>
    </tr>
    <tr ng-repeat = "student in students | filter : search_value ">
        <td>{{student.student_id}}</td>
        <td>{{student.last_name}}</td>
        <td>{{student.first_name}}</td>
        <td>{{student.hrs_attempted}}</td>
        <td>{{student.hrs_completed}}</td>
        <td>{{student.gpa_points}}</td>
        <td>{{student.major}}</td>
        <td>{{student.advisor_id}}</td>
        <td>{{student.email}}</td>
    </tr>
</table>
